{* This is the welcome page, you can delete it *}

{#content}
<p>transakce</p>

<p>Nette tester</p>

	<footer>PHP {=PHP_VERSION} |
		{ifset $_SERVER['SERVER_SOFTWARE']}Server {$_SERVER['SERVER_SOFTWARE']}{/ifset} |
		Nette Framework {=Nette\Framework::VERSION}</footer>

{/#}
